body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(193, 223, 250);
}

#opponent-choice {
    width: 180px;
    height: 180px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(5, 5, 87);
    margin-top: 10px;
}

#your-choice {
    width: 180px;
    height: 180px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(111, 8, 8);
    margin-top: 10px; 
}

#choices {
    width: 200px;
    border-radius: 20px;
    padding: 3px;
    background-color: rgb(5, 68, 5);
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 55px;
    height: 55px;
    margin-top: 2px;
}
